<div class="krm-content">
    <div class="employee-detail">
      <div><b>Employee Name:</b> {{selectedEmployee?.name}}</div>
      <div><b>Employee Code:</b> {{selectedEmployee?.id}}</div>
    </div>
    <div class="container">
      <div class="row">
        <div class="pb-15" style="text-align: end;">
          <p-toggleButton [(ngModel)]="isIndividualEmployee" onLabel="Individual" offLabel="Select All"></p-toggleButton>
        </div>
      </div>
      <div class="row">
        <p-table [value]="selectedEmployee.githubDetails">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Projects</th>
              <th>Search</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-checkbox [disabled]="isIndividualEmployee" class="mr-10" (onChange)="selectProject($event, item)" [binary]="true"></p-checkbox>
              </td>
              <td>
                <label>{{item.name}}</label>
              </td>
              <td>
                <p-autoComplete
                  [disabled]="!isIndividualEmployee"
                  field="name"
                  [suggestions]="filteredEmployees"
                  [minLength]="2"
                  [scrollHeight]="'20'"
                  [emptyMessage]="'No recods found'"
                  [baseZIndex]="999999999"
                  [autoZIndex]="false"
                  (completeMethod)="searchEmployee($event)"
                  (onSelect)="onEmployeeSelect()">
                </p-autoComplete>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-table [value]="selectedEmployee.jiraEpicDetails">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Features</th>
              <th>Search Employee</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-checkbox [disabled]="isIndividualEmployee" class="mr-10" (onChange)="selectJiraEpic($event, item)" [binary]="true"></p-checkbox>
              </td>
              <td>
                <label>{{item.name}}</label>
              </td>
              <td>
                <p-autoComplete
                  field="name"
                  [disabled]="!isIndividualEmployee"
                  [suggestions]="filteredEmployees"
                  [minLength]="2"
                  [scrollHeight]="'20'"
                  [emptyMessage]="'No recods found'"
                  [baseZIndex]="999999999"
                  [autoZIndex]="false"
                  (completeMethod)="searchEmployee($event)"
                  (onSelect)="onEmployeeSelect()">
                </p-autoComplete>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-table [value]="getTechnologies()">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Technologies</th>
              <th>Search Employee</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-checkbox [disabled]="isIndividualEmployee" class="mr-10" (onChange)="selectTechnology($event, item)" [binary]="true"></p-checkbox>
              </td>
              <td>
                <label>{{item}}</label>
              </td>
              <td>
                <p-autoComplete
                  field="name"
                  [disabled]="!isIndividualEmployee"
                  [suggestions]="filteredEmployees"
                  [minLength]="2"
                  [scrollHeight]="'20'"
                  [emptyMessage]="'No recods found'"
                  [baseZIndex]="999999999"
                  [autoZIndex]="false"
                  (completeMethod)="searchEmployee($event)"
                  (onSelect)="onEmployeeSelect()">
                </p-autoComplete>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row mt-15">
        <div class="col-6">
          <label style="margin-right: 10px;"><b>To Employee</b></label>
          <p-autoComplete
            [disabled]="isIndividualEmployee"
            field="name"
            [suggestions]="filteredEmployees"
            [minLength]="2"
            [scrollHeight]="'20'"
            [emptyMessage]="'No recods found'"
            [baseZIndex]="999999999"
            [autoZIndex]="true"
            (completeMethod)="searchEmployee($event)"
            (onSelect)="onEmployeeSelect()">
          </p-autoComplete>
        </div>
      </div>
    </div>
</div>
<div class="footer-content" style="width: 100%; padding-right: 15px;">
  <div class="float-right pb-15">
    <button pButton type="button" label="Submit" class="p-button-rounded mr-10 height-40 padding-12 btn-color" (click)="initKRM()"></button>
    <button pButton type="button" label="Cancel" class="p-button-rounded p-button-secondary height-40 padding-12" (click)="closeDialog()"></button>
  </div>
</div>
